*,
*::before,
*::after {
  box-sizing: border-box;
}

#browser-css-not-supported {
  display: none;
}

@supports not ((display: flex) and (transform: translate(50%, 50%))) {
  #stage {
    display: none !important;
  }
  #browser-css-not-supported {
    display: block !important;
  }
}

:root {
  --primary-base: #4f381b;
  --primary-contrast: rgb(255, 255, 255);
  --primary-highlight: rgb(51, 153, 51);

  --secondary-base: rgb(38, 38, 115);
  --secondary-contrast: rgb(255, 255, 255);
  --secondary-highlight: rgb(51, 51, 153);

  --tertiary-base: rgb(115, 38, 38);
  --tertiary-contrast: rgb(255, 255, 255);
  --tertiary-highlight: rgb(153, 51, 51);

  --background-base: rgb(242, 242, 242);
  --background-contrast: rgb(0, 0, 0);
  --background-highlight: rgb(217, 217, 217);

  --error-base: rgb(134, 45, 45);
  --error-contrast: rgb(255, 255, 255);
  --error-highlight: rgb(204, 102, 102);

  --window-base: rgb(0, 0, 0);
  --window-contrast: rgb(255, 255, 255);
  --window-highlight: rgb(230, 230, 230);

  --padding-thickness: 0.25rem;
  --font-base-size: 15px;
  --line-thickness: max(2px, 0.2rem);
  --outline-thickness: 2px;
  --outline-offset: calc(0.5 * var(--outline-thickness));
  --panel-border: solid var(--line-thickness);
  --margin-thickness: calc(var(--outline-offset) + var(--line-thickness));
  --vh: 1vh;
}

body {
  background-color: black;
  color: var(--window-contrast);
  align-items: center;
  justify-content: center;
  font-family: 'UnifrakturCook', cursive;
  font-size: calc(var(--font-base-size) + 0.00390625 * var(--design-width));
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#game-canvas {
  position: absolute;
}

#game-content {
  overflow: hidden;
}

.glass {
  background-color: black;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
  width: 100vw;
  height: 100vh;
}

.glass-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.glass.door {
  background-image: url(../assets/images/dungeon-splash.jpg);
}

.glass.wall {
  background-image: url(../assets/images/wall.jpg);
}

.glass-content > div {
  background-color: var(--window-base);
  border: 2px solid var(--window-contrast);
  color: var(--window-contrast);
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  padding: 0.5rem;
  width: 70%;
}

h1,
h2,
h3 {
  font-family: 'UnifrakturCook', cursive; /* cspell disable-line */
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
}

label {
  background-image: url(../assets/images/button-texture.jpg);
  display: flex;
  justify-content: space-between;
  line-height: 48px;
}
button {
  background-color: var(--primary-base);
  background-image: url(../assets/images/button-texture.jpg);
  color: var(--primary-contrast);
  font-family: 'UnifrakturCook', cursive;
  font-size: 1rem;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

label .icon-button-external {
  background: none;
  background-image: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  line-height: 0px;
}

.glass-content label:nth-of-type(even) {
  background-color: rgba(255, 255, 255, 0.1);
}

.icon-button-internal {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  background-color: black;
  color: white;
  padding: 1 1 1 1;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
}

.close-button::before {
  content: 'X';
}

.popup {
  background-color: black;
  border: 2px solid white;
  left: 50vw;
  top: 50vh;
  opacity: 0;
  position: absolute;
  width: 75vw;
  text-align: center;
  transform: translate(-50%, -50%);
  transition: opacity 1s;
}
